.heading {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
}

.box {
  width: 40%;
  box-shadow: 1px 1px 2px 2px #aeabab;
  background-color: #fff;
}

.head {
  display: flex;
  border-bottom: 1px solid #ddd;
}

.form-head {
  border-bottom: 1px solid #ddd;
  height: 50px;
}

.form {
  display: flex;
  height: 100%;
}

.head p {
  flex: 9;
  border: 0;
  padding-left: 2%;
}

.addList {
  flex: 9;
  border: 0;
  padding-left: 2%;
  font-style: italic;
}

.addList:focus {
  border-color: transparent;
  outline: none;
}

.click-icon,
.recycle_icon {
  flex: 1;
  margin-top: auto;
  margin-bottom: auto;
  color: #ddd;
  display: flex !important;
  justify-content: center;
  cursor: pointer;
}

.checkbox-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.checkbox-list li {
  border-bottom: 1px solid #ddd;
}

.checkbox-list input[type="checkbox"] {
  display: none;
}

.list-item {
  display: flex;
}

.list-text {
  flex: 8.5;
  border: 0;
  height: 100%;
  padding: 3% 3%;
  font-size: 16px;
  color: #000;
}

.list-text:focus {
  border-color: transparent;
  outline: none;
}

.checkbox-list label {
  display: inline-block;
  cursor: pointer;
  flex: 0.5;
  margin: auto 0;
  padding-left: 2%;
  position: relative;
}

.checkbox-list label::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid #ccc;
  background-color: #fff;
  margin-right: 5px;
  vertical-align: middle;
}

.list-icon {
  flex: 1;
  margin-top: auto;
  margin-bottom: auto;
  color: #ddd;
  display: flex !important;
  justify-content: center;
  cursor: pointer;
}

.checkbox-list input[type="checkbox"]:checked + label::before {
  background-color: transparent;
  border: none;
}

.checkbox-list input[type="checkbox"]:checked + label::after {
  content: "\f00c";
  color: #2196f3;
  font-family: "Font Awesome 5 Free", sans-serif;
  position: absolute;
  top: 0;
  left: 29%;
  font-weight: 900;
  font-size: 20px;
}

.display {
  display: flex !important;
}

.hide {
  display: none !important;
}

.footer {
  background: #f6f6f6;
  display: flex;
  height: 50px;
}

.clear-list {
  appearance: none;
  outline: none;
  border: none;
  background-color: transparent;
  margin: auto;
  display: block;
}

.clear-list:hover {
  text-decoration: underline;
  cursor: pointer;
}

.checked {
  display: inline-block;
  cursor: pointer;
  flex: 0.5;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 2%;
  color: #2e8ae6;
}

.underline {
  color: rgba(0, 0, 0, 0.45);
  text-decoration: line-through;
}

.editing {
  background-color: #fffeca !important;
}
